<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNet - Login</title>
    <link rel="stylesheet" href="/assets/css/login.css">

</head>
<body>
    <div class = "container-login"> 
        <div>
            <form class = "devnet-form" id = "login">
                <span>Entre na sua conta</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required = "required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required = "required">
                </div>
                <a href = "/criar-usuario"> Criar Conta </a>
                <button type="submit" class = "btn-devnet">Login</button>

            </form>
        </div>
    </div>
</body>
</html>